"Please create a short patient report for a patient with {{ disorder_long }}.
Please only return your answer in JSON format, following the structure below: 
{
    "patient_report": "<Patient report>",
    "chars": {
        "sex": "<str> ["Male", "Female"]",
        "age_current": <int> (Current age),
        "age_of_onset": <int> (Age of onset)   
    } 
}
