Please return further the following information in JSON format, following the structure below: 
{
    "BMI": "<insert_BMI_here as float>",
    "education": "<insert_education_level_here, options: no formal education, primary school, secondary school, tertiary school>",
    "employment_status": "<insert_employment_status_here, options: employed, self-employed, unemployed, retired, student, other>",
    "income": "<insert_income_level_here, options: low, middle, high>",
    "health_insurance_status": "<insert_health_insurance_status_here, options: public, private, uninsured>",
    "smoking": "<insert_smoking_status_here, options: never, formerly, currently>",
     "race_ethnicity": "<str>",
   "options": [
       "American Indian or Alaska Native",
       "Asian",
       "Black or African American",
       "Hispanic or Latino",
       "Middle Eastern or North African",
       "Native Hawaiian or Pacific Islander",
       "White"
   ]
   
}
    ONLY return the information in JSON format.
